<table style="background-color: #f2f2f2; width: 100%; padding: 20px">
  <tr>
    <td style="text-align: center; vertical-align: middle">
      <img
        style="width: 50%; height: auto"
        src="https://res.cloudinary.com/dwglvjgcy/image/upload/v1699246153/Imagenes/Untitled-removebg-preview_cxhzz5.png"
        alt="Black Group Design"
      />
      <p style="font-size: 20px; color: #163440; font-family: Cinzel, serif">
        Gracias {{username}} por valorar nuestro producto
      </p>
      <p style="font-family: 'Montserrat', sans-serif; font-size: 16px">
        Este es el detalle de su valoración:
      </p>
      <p style="color: #163440">Producto: {{product}}</p>
      <p style="text-align: center">Valoración: {{rating}} ⭐</p>
      <p style="text-align: center">Comentario: {{comment}}</p>
      <div style="background-color: #1a1a1a; color: #fff; padding: 20px">
        <p
          style="
            font-size: 14px;
            font-family: 'Montserrat', sans-serif;
            color: #888888;
            margin-top: 20px;
          "
        >
          Si tienes alguna consulta o necesitas ayuda, no dudes en ponerte en
          contacto con nosotros. Estamos aquí para ayudarte en todo momento.
        </p>

        <!-- Icono de Instagram con enlace -->
        <a
          href="https://www.instagram.com/blackgroupdesing?igshid=NzZlODBkYWE4Ng%3D%3D"
          style="text-decoration: none; color: #fff"
        >
          <img /> @blackgroupdesing
        </a>

        <!-- Icono de correo electrónico con enlace -->
        <a
          href="mailto:bgd.grupo12@gmail.com"
          style="text-decoration: none; color: #fff; margin: 0 10px"
        >
          <img /> bgd.grupo12@gmail.com
        </a>

        <!-- Icono de WhatsApp con enlace -->
        <a
          href="https://api.whatsapp.com/send?phone=+542477456785"
          style="text-decoration: none; color: #fff"
        >
          <img /> +54 2477 456785
        </a>
      </div>

      <p style="font-size: 14px; color: #777">
        &copy; 2023 Black Group Design. Todos los derechos reservados.
      </p>
    </td>
  </tr>
</table>