<table style="max-width: 600px; margin: 0 auto; height: auto; border-radius: 20px; background-color: #D9AD77; font-family: 'Be Vietnam Pro';">
    <tr>
        <td style="text-align: center;">
            <p style="color:#163440; font-weight:bold; font-size: 20px">
                Hola, {{username}}. Tu registro se realizó correctamente.
            </p>
            <p style="color:#592519; text-align: center; ">
                Bienvenido a
                <a style="text-decoration: none; color:#592519;" href="https://blackgroupdesing.vercel.app/" target="_blank">
                    <b style="cursor: pointer;"> Black Group Design!
                    </b>
                </a>
            </p>
            <img src="https://res.cloudinary.com/dwglvjgcy/image/upload/v1698507787/Imagenes/mdugpbwrt4veai1pogc4.png" 
            style="width: 308px; height: 192px; border-radius: 20px;" 
            alt="logo"/>
            </p>
        </td>
    </tr>
</table>