<table >
    <tr>
        <td style="text-align: center;">
            <p style="color:#163440; font-weight:bold; font-size: 20px">
                Hola, {{username}}. Tu información se actualizó correctamente.
            </p>
            <p style="color:#592519; text-align: center; ">
                Puedes revisar tu perfil
                <a style="text-decoration: none; color:#592519;" href="https://blackgroupdesing.vercel.app/form/perfil" target="_blank">
                    <b style="cursor: pointer;"> aquí
                    </b>
                </a>
            </p>
            <img src="https://res.cloudinary.com/dwglvjgcy/image/upload/v1698507787/Imagenes/mdugpbwrt4veai1pogc4.png" 
            style="width: 308px; height: 192px; border-radius: 20px;" 
            alt="Black Group Design"/>
            </p>
        </td>
    </tr>
</table>