<table style="background-color: #f2f2f2; width: 100%; padding: 20px; text-align: center;">
    <tr>
        <td>
            <img src="https://res.cloudinary.com/dwglvjgcy/image/upload/v1698507787/Imagenes/mdugpbwrt4veai1pogc4.png"
                style="width: 308px; height: 192px; border-radius: 20px;"
                alt="Black Group Design" />
        </td>
    </tr>
    <tr>
        <td style=" text-align: center; font-size: 24px; border-radius: 20px;">
             <p style="margin-left: 0px; font-size: 20px; color: #D9AD77;">
                <p>¡Hola, {{username}}!</p>
            </p> <p style="color: #163440;">
                <b>¿Deseas reestablecer tu contraseña?</b>
            </p>
        </td>
    </tr>
    <tr>
        <td style="font-size: 20px; font-weight: 400; line-height: 24px; text-align: center; padding: 4px 40px; color: #888;">
          
            <p>
                Hemos recibido una solicitud de recuperación de contraseña para tu cuenta.
            </p>
            <a title="Confirmar cuenta" href="https://blackgroupdesing.vercel.app/form/login/password-reset?token={{token}}"
                style="text-decoration: none; background-color: transparent; color: #163440; border: 2px solid #000; padding: 10px 20px; border-radius: 5px; font-weight: bold; font-size: 16px; margin-top: 20px; display: inline-block;"
                target="_blank">Cambiar la <span class="il">contraseña</span></a>
            <p>
                <i><b>Importante:</b>
                    Este enlace expirará en 15 minutos. Si no solicitaste un cambio de contraseña, ignora este correo y no se harán cambios de tu cuenta.
                </i>
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p style="text-align: center; color: #D9AD77;">
                Black Group Design
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <hr/>
        </td>
    </tr>
    <tr>
        <td>
            <div style="background-color: #1A1A1A; color: #FFF; padding: 20px;">
                <p style="font-size: 14px; font-family: 'Montserrat', sans-serif; color: #888888; margin-top: 20px;">
                    Si tienes alguna consulta o necesitas ayuda, no dudes en ponerte en contacto con nosotros. Estamos aquí para ayudarte en todo momento.
                </p>
                <a href="https://www.instagram.com/blackgroupdesing?igshid=NzZlODBkYWE4Ng%3D%3D" style="text-decoration: none; color: #FFF;">
                    <img> @blackgroupdesign
                </a>

                <a href="mailto:bgd.grupo12@gmail.com" style="text-decoration: none; color: #FFF; margin: 0 10px;">
                    <img> bgd.grupo12@gmail.com
                </a>

                <a href="https://api.whatsapp.com/send?phone=+542477456785" style="text-decoration: none; color: #FFF;">
                    <img> +54 2477 456785
                </a>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <p style="font-size: 14px; color: #777;">&copy; 2023 Black Group Design. Todos los derechos reservados.</p>
        </td>
    </tr>
</table>